<h2 class="alert alert-danger">Todo Task</h2>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-todo-dashboard></app-todo-dashboard>
    </div>
  </div>
</div>

<h2 class="alert alert-danger">student Task</h2>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <app-student-dashboard></app-student-dashboard>
    </div>
  </div>
</div>

<h2 class="alert alert-danger">post Task</h2>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <app-post-dashboard></app-post-dashboard>
    </div>
  </div>
</div>