<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between" *ngFor="let todo of todoArr;trackBy:trackbyFun">
        <strong>
            {{todo.todoItem}}
        </strong>
        <div>
            <button 
            (click)="onEdit(todo)"
            mat-mini-fab color="primary">
                <mat-icon>edit</mat-icon>
            </button>

            <button 
            (click)="onRemove(todo.id)"
            mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </li>
</ul>